go 1.21.4

use (
    ./01Hello
    ./02Variables
    ./03UserInput
    ./04Conversion
    ./05Time
    ./06Pointers
    ./07Array
    ./08Slices
    ./09Map
    ./10Struct
    ./11ControlFlow
    ./12Switch
    ./13loops
    ./14Functions
    ./15Methods
    ./16Defer
    ./17Files
    ./18WebRequest
    ./19URL
)